.card {
	min-width: 230px;
	text-align: center;
	color: white;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.card:hover {
	color: #fff;
	transform: scale(1.1);
	text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
		#ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
		#ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
	transition: all 0.2 ease;
}

.card_img {
	width: 230px;
	height: 345px;
	border-radius: 0.5rem;
}
