.header {
	text-align: center;
	padding: 1rem;
}

.home {
	color: #ffffff;
	text-decoration: none;
	text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
		#ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
		#ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
	transition: all 0.5s ease;
}

.home:hover {
	color: #ff0080;
}
